// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters{
  background-color: #ADD8E6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 50px;
  grid-auto-rows: 50px;
  align-content: center;
}
